*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: grid;
    grid-template-columns: auto 1fr; 
    justify-content: space-between; 
    align-items: center;
    padding: 15px;
    background-color: #f0f0f0;
}

header a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
}
header a:hover {
    text-decoration: underline;
}

nav {   
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    margin-right: 15px;
}

.yellow-button{
    background-color: #e6bd43;
    padding: 5px;
    font-size: bold;
    text-decoration: none;
    color: #000000;
}

.headline{
    padding: 10px;
    margin: 10px;
}


#service-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
}

main {
    text-align: center;
}
.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px; /* Juster denne verdien etter behov */
    margin: 0 auto;
}
