*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    background-color: #f0f0f0;
    margin: 5px;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    font-weight: bold;
}
header a:hover {
    text-decoration: underline;
    text-decoration-color: #e6bd43;

}

header img {
    height:auto; 
    width: 75px;
}

nav {   
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    max-width: auto;

}

nav a {
    margin-right: 15px;
}
@media only screen and (max-width: 380px) {
    nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
    }

    nav a {
        margin-right: 0; 
        margin-bottom: 10px; 
        font-weight: ;
    }
}


.container{
    margin: 15px;
}
.yellow-button{
    background-color: #e6bd43;
    padding: 5px;
    font-size: bold;
    text-decoration: none;
    color: #000000;
    margin: 5px;
}
.yellow-button a:hover {
    background-color: black;
    color: yellow;

}

.headline{
    display: flex;
    justify-content: center; 
    flex-direction: column;
    padding: 10px;
    background-color: rgb(176, 172, 172);
}
.headline a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #000000;
    background-color: #e6bd43;
    padding: 5px;
    margin-top: 10px;
    font-size: 1rem;
}

.headline h1{
    padding: 10px;
}
.read-more{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.subheading{
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-top: 25px;

}

.company{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-color: #000000;
    border-style: solid;
}
aside{
    display: flex;
    justify-content: left;

}

.company p{
    margin: 15px;
}
.company a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    max-width:fit-content;
    padding: 5px;
    margin: auto;
    border-color: #000000;
    border-style: solid;
}

.company img{
    max-width: 100%;
    height: auto;
    margin-right: 10px;

}

.service-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    max-resolution: auto;
    
}

.service-container p{
    margin: 10px;
    padding: 10px;
    max-width: 20vw;
    text-align: center;
    margin-left: auto; 
}
main {
    text-align: center;
}

.newsletter {
    display: grid;
    flex-direction: grid;
    align-items: center;
    margin: 10px auto;
    background-color: #f0f0f0;
    padding: 15px;
}

.newletter-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    background-color: #f0f0f0;
    padding: 5px;
    font: 0,5em sans-serif;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(32, 32, 32);
    color: white;
    align-items: center;
    padding: 10px;
    margin: 5px;
}

.social{
    display: flex;
    flex-direction: row;
    padding: 10px;
}



.title{
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #e6bd43;
    margin-bottom: 10px;
}

.portfolio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    background-color: grey;
    padding: 50px;
}

.portfolio-nav{
    text-align: left;
    margin-bottom: 10px;
    padding: 10px;
    
}

.portfolio-nav a{
    text-decoration: none;
    color: #000000;
    padding: 5px;
    max-width:fit-content;
    border-color: #000000;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 5px;
}

.branding{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    text-align: left;
    padding: 10px;
}


.branding{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
    margin: auto;
    align-items: left;
    text-align: left;
    padding: 10px;
}

/* about */

.about-company {
    margin: 10px;
    padding: 10px;
}

.about-company p {
    margin: auto;
    padding: 20px;
    max-width: 20vw;
    text-align: center;
    margin-left: auto; 
}

.clients {
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: center;
    padding: 40px;
    background-color: #e6bd43;
}  

.contact{
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: left;
    padding: 40px;
    text-align: left;
    justify-content: space-evenly;
}

.contact-article{
    display: flex;
    flex-direction: row;
    margin: 5px;
    align-items: center;
    padding: 40px;
    background-color: beige;
    align-items: baseline;
}
.info{
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: left;
    padding: 40px;
    text-align: left;
    justify-content: space-evenly;
}
.info p{
    margin: 10px;
    text-align: left;
}

.our-services{
    margin: 10px;
    padding: 40px;
}


